<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name}}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y"}}
    </li>
  </ul>      
  <p>
    {{ post.text }}
  </p>
  <a href="{% url 'posts:post_detail' post_id=post.pk %}">подробная информация </a><br>
  <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a><br>
  {% if request.user.id == post.author.id %}
    <a href="{% url 'posts:post_edit' post.id  %}">редактировать пост</a>
  {% endif %} 
</article> 
