{% extends "base_dives.html" %} 
{% block title %}
  {% if is_edit %}
    Редактировать
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block cardheader %}
  {% include "includes/error.html" %}
  {% if is_edit %}
    Редактировать
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block cardbody %}      
  <form method="post">  
    {% csrf_token %}
    {% include "includes/form.html" %}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        {% if is_edit %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}               
      </button>   
    </div>
  </form>
{% endblock %}