{% extends "base2.html" %}
{% block title %}Новый пароль{% endblock %}
{% include "includes/error.html" %}
{% if validlink %}
  {% block contentheader %}
    Введите новый пароль
  {% endblock %}
  {% block contentbody %}
    <form method="post"
    {% if action_url %}
    action="{% url action_url %}"
    {% endif %}>
      {% csrf_token %}
      {% include "includes/form.html" %}              
      <div class="col-md-6 offset-md-4">              
          <button type="submit" class="btn btn-primary">
              Назначить новый пароль
          </button>   
      </div>
    </form>
  {% endblock %}     
{% else %}<!-- если использована неправильная ссылка -->
  {% block contentheader %}
    Ошибка
  {% endblock %}
  {% block contentbody %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endblock %}
{% endif %}
  