{% extends "base2.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block contentheader %}
{% include "includes/error.html" %}
  Изменить пароль
{% endblock %}
{% block contentbody %}
  <form method="post" style="background-color: lightCyan" action="{% url 'users:password_change' %}">
    {% csrf_token %}
    {% include "includes/form.html" %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Изменить пароль
      </button>
    </div>
  </form>
{% endblock %}